attrs==16.3.0
Automat==0.5.0
beautifulsoup4==4.5.3
click==6.7
constantly==15.1.0
Flask==0.12
Flask-Script==2.0.5
incremental==16.10.1
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
requests==2.13.0
six==1.10.0
Werkzeug==0.12
zope.interface==4.3.3
