appdirs==1.4.3
attrs==16.3.0
Automat==0.5.0
beautifulsoup4==4.5.3
click==6.7
constantly==15.1.0
greenlet==0.4.12
gunicorn==19.7.0
incremental==16.10.1
MarkupSafe==1.0
packaging==16.8
pyparsing==2.2.0
requests==2.13.0
six==1.10.0
tornado==4.4.2
zope.interface==4.3.3
